.visible {
  display: inline;
}

.hidden {
  display: none;
}

.navElements .nav-link {
  font-size: 18px;
}

.hamburger-icon {
  width: 30px;
  height: 25px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 9999;
}

.hamburger-icon span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #333;
  border-radius: 9px;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  transform-origin: center;
}

.hamburger-icon.open span:nth-child(1) {
  transform: translateY(11px) rotate(135deg);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
  transform: translateX(-20px);
}

.hamburger-icon.open span:nth-child(3) {
  transform: translateY(-11px) rotate(-135deg);
}

.homeSlider {
  background-color: #c4dcff;

  margin-top: 50px;
  position: relative;
}
.carouselSlider .slick-slide {
  padding: 0 60px;
}

.slider-row{
    padding-top: 150px;
  padding-bottom: 20px;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 99;
  transition: all 0.3s ease;
  color: #c4dcff;
}

.custom-arrow:hover {
  background-color: rgba(255, 255, 255, 1);
}
.custom-arrow.prev {
  left: -25px;
}

.custom-arrow.next {
  right: -25px;
}

@media (max-width: 768px) {
  .custom-arrow.prev {
    left: 10px;
  }
  .custom-arrow.next {
    right: 10px;
  }
}

.detail-box h2 {
  font-size: 47px !important;
  font-weight: 630 !important;
}

.detail-box button {
  border-radius: 30px;
  background-color: #0f3460;
  border: transparent;
  font-size: 18px;
  padding: 10px 25px;
}

/* Wrapper Section */
.wrapper {
  margin: 50px 0;
}

.service-card {
  padding: 30px 20px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.service-card .icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto 20px auto;
  background-color: #fff;
  border-radius: 50%;
  font-size: 20px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-card h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #1f2937;
}

.service-card p {
  font-size: 14px;
  color: grey;
  font-weight: 400;
  margin: 0;
}

  .slider-image-col {
    padding-top:50px;
}

.sliderImage {
  transform: translateY(-85px);
}

@media (max-width: 768px) {
  .sliderImage {
    transform: translateY(0);
    margin-bottom: 20px;
  }
}

.cart-num {
  font-size: 0.6rem;
  background-color: #0599FC;
  position: absolute;
  top: 0;
  left: 17px;
}

.productsSection{
  padding-top: 80px;
  padding-bottom: 60px;
}

.discount-productSection{
  background-color: #D7E1EB;
}

.bestSellersProducts{
  background-color: #F6F9FC;
}

.products-container{
  max-width:900px;
  padding:0 47px !important;
}

@media(max-width: 991px) and (min-width: 576px){
  .products-container{
    padding:0 0px !important;
  } 
}

.product-item{
  width: 100%;
  border-radius:30px;
  padding:20px;
  padding-bottom: 35px;
  transition: all 0.3s ease-out;
  background-color: white;
}


.product-item:hover{
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transform: scale(1.01);
  box-shadow: inset 0 -4px 0 0 #0599FC;
}

.image-part{
  position:relative;
  margin-bottom:15px;
}


.discount-percent {
  position: absolute;
  top: -5px;
  left: -5px;
  background-color: #0599FC;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
}

.favorite-icon{
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}

.product-item:hover .favorite-icon{
  display: flex;
}

.product-image{
  height:200px;
  width: 100%;
  object-fit:contain;
  margin-top:10px;
}

.product-title{
  font-size: 20px;
  font-weight: 600;
}

.price{
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
}

.old-price{
  text-decoration: line-through;
  color: grey;
  margin-left: 7px;
  font-weight: 500;
}

.cart-add{
  background-color: transparent;
  border: none;
  width:50px;
  height:50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 400;
  border-radius: 50%;
  padding:0;
}

.cart-add svg{
  stroke-width: 1.7;
}
.cart-add:hover{
  background-color: #0599FC;
  color: white;
  cursor: pointer;
}